/*
.flags-canada, .flags-mexico, .flags-usa {
  background-image: url('/assets/img/sprite.png');
  background-repeat: no-repeat;
}

.flags-canada {
  height: 128px;
  background-position: -5px -5px;
}

.flags-usa {
  height: 180px;
  background-position: -5px -143px;
}

.flags-mexico {
  height: 147px;
  background-position: -5px -288px;
}*/

.uno-front, .uno-zero, .uno-back{
  height: 171px; width: 120px;
  float: left;
  margin-right: 2px;
  margin-bottom: 2px;
}

.play-uno{
  height: 100px;
  position: absolute;
  border-color: aliceblue 1px;
  left: 350px;
  top: 100px;
  background-color: beige;
  padding: 60px 5px 5px 5px;
  border-color: aqua;
  border-spacing: 5px;
}

.uno-front {
  background-image: url('/assets/front.png');
  background-repeat: no-repeat;
}

.uno-zero {
  background-image: url('/assets/zero.png');
  background-repeat: no-repeat;
}

.uno-back {
  background-image: url('/assets/back.png');
  background-repeat: no-repeat;
  background-position: -8px -12px;
}

.uno-red-1
{
  background-position: -8px -12px;
}
.uno-red-2
{
  background-position: -145px -12px;
}
.uno-red-3
{
  background-position: -281px -12px;
}
.uno-red-4
{
  background-position: -418px -12px;
}
.uno-red-5
{
  background-position: -554px -12px;
}
.uno-red-6
{
  background-position: -691px -12px;
}
.uno-red-7
{
  background-position: -827px -12px;
}
.uno-red-8
{
  background-position: -964px -12px;
}
.uno-red-9
{
  background-position: -1100px -12px;
}
.uno-red-0
{
  background-position: -8px -12px;
}

.uno-yellow-1
{

  background-position: -8px -207px;
}
.uno-yellow-2
{
  background-position: -145px -207px;
}
.uno-yellow-3
{
  background-position: -281px -207px;
}
.uno-yellow-4
{
  background-position: -418px -207px;
}
.uno-yellow-5
{
  background-position: -554px -207px;
}
.uno-yellow-6
{
  background-position: -691px -207px;
}
.uno-yellow-7
{
  background-position: -827px -207px;
}
.uno-yellow-8
{
  background-position: -964px -207px;
}
.uno-yellow-9
{
  background-position: -1100px -207px;
}
.uno-yellow-0
{
  background-position: -145px -12px;
}

.uno-blue-1
{
  background-position: -8px -402px;
}
.uno-blue-2
{
  background-position: -145px -402px;
}
.uno-blue-3
{
  background-position: -281px -402px;
}
.uno-blue-4
{
  background-position: -418px -402px;
}
.uno-blue-5
{
  background-position: -554px -402px;
}
.uno-blue-6
{
  background-position: -691px -402px;
}
.uno-blue-7
{
  background-position: -827px -402px;
}
.uno-blue-8
{
  background-position: -964px -402px;
}
.uno-blue-9
{
  background-position: -1100px -402px;
}
.uno-blue-0
{
  background-position: -281px -12px;
}


.uno-green-1
{
  background-position: -8px -597px;
}
.uno-green-2
{
  background-position: -145px -597px;
}
.uno-green-3
{
  background-position: -281px -597px;
}
.uno-green-4
{
  background-position: -418px -597px;
}
.uno-green-5
{
  background-position: -554px -597px;
}
.uno-green-6
{
  background-position: -691px -597px;
}
.uno-green-7
{
  background-position: -827px -597px;
}
.uno-green-8
{
  background-position: -964px -597px;
}
.uno-green-9
{
  background-position: -1100px -597px;
}
.uno-green-0
{
  background-position: -418px -12px;
}

.uno-red-skip
{
  background-position: -8px -792px;
}
.uno-yellow-skip
{
  background-position: -145px -792px;
}
.uno-blue-skip
{
  background-position: -281px -792px;
}
.uno-green-skip
{
  background-position: -418px -792px;
}

.uno-red-plus2
{
  background-position: -554px -792px;
}
.uno-yellow-plus2
{
  background-position: -691px -792px;
}
.uno-blue-plus2
{
  background-position: -827px -792px;
}
.uno-green-plus2
{
  background-position: -964px -792px;
}

.uno-red-reverse
{
  background-position: -1100px -792px;
}
.uno-yellow-reverse
{
  background-position: -1237px -792px;
}
.uno-blue-reverse
{
  background-position: -8px -987px;
}
.uno-green-reverse
{
  background-position: -145px -987px;
}
.uno-green-reverse
{
  background-position: -145px -987px;
}

.uno-wildcard
{
  background-position: -1237px -12px;
}
.uno-plus4
{
  background-position: -1237px -402px;
}
.uno-any
{
  background-position: -1237px -1182px;
}

button .play{
  width: 200px;
  height: 100px;
}
