<!--
<div class="flags-usa"></div>-->
<div class="play-uno">
  <input [autofocus]="true" type="text" placeholder="Enter your Name" [(ngModel)]="name"
    (keydown)="pressEnter($event)" />
  <button class="play" (click)="goTopage('/play/' + name)">PLAY UNO</button>
</div>

<table border="0">
  <tr>
    <td><div class="uno-front uno-red-1"></div></td>
    <td><div class="uno-front uno-red-2"></div></td>
    <td><div class="uno-front uno-red-3"></div></td>
    <td><div class="uno-front uno-red-4"></div></td>
    <td><div class="uno-front uno-red-5"></div></td>
    <td><div class="uno-front uno-red-6"></div></td>
    <td><div class="uno-front uno-red-7"></div></td>
    <td><div class="uno-front uno-red-8"></div></td>
    <td><div class="uno-front uno-red-9"></div></td>
  </tr>

  <tr>
    <td><div class="uno-front uno-yellow-1"></div></td>
    <td><div class="uno-front uno-yellow-2"></div></td>
    <td><div class="uno-front uno-yellow-3"></div></td>
    <td><div class="uno-front uno-yellow-4"></div></td>
    <td><div class="uno-front uno-yellow-5"></div></td>
    <td><div class="uno-front uno-yellow-6"></div></td>
    <td><div class="uno-front uno-yellow-7"></div></td>
    <td><div class="uno-front uno-yellow-8"></div></td>
    <td><div class="uno-front uno-yellow-9"></div></td>
  </tr>
  <tr>
    <td><div class="uno-front uno-blue-1"></div></td>
    <td><div class="uno-front uno-blue-2"></div></td>
    <td><div class="uno-front uno-blue-3"></div></td>
    <td><div class="uno-front uno-blue-4"></div></td>
    <td><div class="uno-front uno-blue-5"></div></td>
    <td><div class="uno-front uno-blue-6"></div></td>
    <td><div class="uno-front uno-blue-7"></div></td>
    <td><div class="uno-front uno-blue-8"></div></td>
    <td><div class="uno-front uno-blue-9"></div></td>
  </tr>
  <tr>
    <td><div class="uno-front uno-green-1"></div></td>
    <td><div class="uno-front uno-green-2"></div></td>
    <td><div class="uno-front uno-green-3"></div></td>
    <td><div class="uno-front uno-green-4"></div></td>
    <td><div class="uno-front uno-green-5"></div></td>
    <td><div class="uno-front uno-green-6"></div></td>
    <td><div class="uno-front uno-green-7"></div></td>
    <td><div class="uno-front uno-green-8"></div></td>
    <td><div class="uno-front uno-green-9"></div></td>
  </tr>

  <tr>
    <td><div class="uno-zero uno-red-0"></div></td>
    <td><div class="uno-zero uno-yellow-0"></div></td>
    <td><div class="uno-zero uno-blue-0"></div></td>
    <td><div class="uno-zero uno-green-0"></div></td>
    <td><div class="uno-front uno-red-skip"></div></td>
    <td><div class="uno-front uno-yellow-skip"></div></td>
    <td><div class="uno-front uno-blue-skip"></div></td>
    <td><div class="uno-front uno-green-skip"></div></td>
    <td><div class="uno-front uno-wildcard"></div></td>
  </tr>

  <tr>
    <td><div class="uno-front uno-red-plus2"></div></td>
    <td><div class="uno-front uno-yellow-plus2"></div></td>
    <td><div class="uno-front uno-blue-plus2"></div></td>
    <td><div class="uno-front uno-green-plus2"></div></td>
    <td><div class="uno-front uno-red-reverse"></div></td>
    <td><div class="uno-front uno-yellow-reverse"></div></td>
    <td><div class="uno-front uno-blue-reverse"></div></td>
    <td><div class="uno-front uno-green-reverse"></div></td>
    <td><div class="uno-front uno-plus4"></div></td>
  </tr>
</table>
