<h5 style="color: crimson">Multi-player still in progress</h5>
<div style="float: right" *ngIf="message!=''">{{message}}</div>
<div style="float: right" ><ul><li *ngFor="let user of users">{{user.name}}</li></ul></div>

<table width="100%">
  <tr>
  <td width="50%">
    <h3 *ngIf="cards.length>0">Deck ({{cards.length}} remaining)</h3>
    <div [class]="(noMoves? 'normalAllow' : 'notAllowed') + ' uno-back'" (dblclick)="drawAndQueueToMyDeck()"></div>
  </td>

  <td width="50%">
    <h3>{{cards.length<=0? 'Initializing your ':''}}Cards Pile{{initializing}}</h3>
    <div *ngIf="piled" [class]="'uno-'+ (checkZero(piled.face)? 'zero' : 'front') +' uno' + (piled.color? ('-' + piled.color) : '') + '-' + piled.face"></div>
  </td>
</tr></table>


<h2 *ngIf="cards.length>0">My Cards</h2>
<div class="myDek">
  <div *ngFor="let card of myCards"
       [title]="getFaceIfPlusFour(card) && checkIfAllowed(card)=='normalHelp' ? warnPlus4 :''"
       [class]="checkIfAllowed(card) + ' uno-'+ (checkZero(card.face)? 'zero' : 'front') +' uno' + (card.color? ('-' + card.color) : '') + '-' + card.face"
       (dblclick)="playAndSend(card)"
  ></div>
</div>

<!--
<table border="0">
  <tr>
    <td *ngFor="let card of myCards" [class]="'uno-front uno' + (card.color? ('-' + card.color) : '') + '-' + card.face "></td>
  </tr>
</table>
-->
